/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');
*{
box-sizing: border-box;
}
header, section{
  overflow-x: hidden;
}
:root{
  --white:white;
  --dwhite:#f5f1e6;
  --bg:#b48d70;
  --gray:#8e8d8a;
  --peach:#e98074;
  --red:#e85a4f;
  --Oswald:'Oswald', sans-serif;
  --roboto:'Roboto Slab', serif;
}
header .navbar{
  background-color: var(--white);
}
header{
  background-color: var(--dwhite);
}
header .nav-item:last-child{
  padding-right: 10.5em;
}
header .nav-item{
  padding: 0.9em;
}
header .navbar-brand{
  padding-left: 8rem;
  color: var(--red);
}
header .navbar-brand:hover{
  padding-left: 8rem;
  color: var(--peach);
}
header .nav-link{
  font-size: 20px;
  font-weight: 700;
  color: var(--red);
}
header .nav-link:hover{
  color: var(--peach);
}
header .row .right{
  padding: 5.2vmin 1vmin;
}
header .row .homeleft{
  padding: 22vmin 1vmin;
  padding-bottom: 30vmin;
  font-family: var(--roboto);
  font-weight: 500;
}
header .row .homeleft span{
  color: var(--red);
  padding: 1vmin;
}
header .row .homeleft h1{
  font-style: italic;
  font-size: 3.5em;
  padding: 0.5em 0em;
}
header .row .homeleft p{
  padding: 1vmin 5vmin;
}
header .row .homeleft button{
  border-radius: 30px;
  font-weight: bold;
  color: black;
  background-color: var(--peach);
}
/* section1 */
.section1{
  background-image: url(../images/aboutbg1.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding:35vmin 0vmin;
}
.section1 img{
  width: 80%;
  border-radius: 1em;
}
.section1 .panel p{
  color: var(--white);
  font-size: 15px;
  font-family: var(--roboto);
  text-align: left;
  background: rgba(58, 58, 58, 0.5333);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.803);
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.section1 .panel h1{
  color: var(--red);
  font-family: var(--Oswald);
}
/* section2 */
.section2 .purchase{
  background-color: var(--dwhite);
  padding: 10vmin 1vmin;
  padding-bottom: 10vmin;
}
.section2 .card-body{
  background-color: var(--dwhite);
  border: 1px solid black;
}
.section2 .purchase h1{
  font-weight: 700;
  font-size: 3.5em;
  padding: 0.5em 0em;
  font-family: var(--Oswald);
  color: var(--red);
}
.section2 .purchase p{
  padding: 1vmin 5vmin;
  font-family: var(--roboto);
}
/* section3 */
.section3{
  background-color: var(--white);
  padding: 10vmin 1vmin;
  padding-bottom: 20vmin;
}
.section3 h1{
  font-weight: 700;
  font-size: 3.5em;
  padding: 0.5em 0em;
  font-family: var(--Oswald);
  color: var(--red);
}
.section3 p{
  padding: 2vmin 5vmin;
  font-family: var(--roboto);
}


/* section4 */
.section4 {
  background-color: var(--dwhite);
  padding: 10vmin 1vmin;
  padding-bottom: 10vmin;
}
.section4 h1{
  font-weight: 700;
  font-size: 3.5em;
  padding: 0.5em 0em;
  font-family: var(--Oswald);
  color: var(--red);
}
.section4 p{
  padding: 2vmin 5vmin;
  font-family: var(--roboto);
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    background-color: var(--white);
    padding-bottom: 0;
  }
  footer h1{
    color: var(--peach);
  }
  footer a{
    color: var(--peach);
  }
  footer i{
    color: var(--peach);
  }